In [1]:
# Google Colab用
# from google.colab import drive 
# drive.mount('/content/drive')

In [2]:
# %cd drive/MyDrive/GoogleColab/SIGNATE/SOTA_Apple_Moving

# Library

In [3]:
import pandas as pd

# Function

# Params

In [4]:
# 対象となるデータが格納されたパスの読み込み
DATA_PATH = "./data/"

# 読み込む対象となるファイル名
TRAIN_CSV_NAME = "train.csv" # 学習用
TEST_CSV_NAME = "test.csv" # 検証用
SUBMIT_CSV_NAME = "sample_submit.csv" # 提出用

# Data Prep

In [5]:
train_pd = pd.read_csv(DATA_PATH+TRAIN_CSV_NAME)
train_pd.head()

     datetime   y  client  close  price_am  price_pm
0  2010-07-01  17       0      0        -1        -1
1  2010-07-02  18       0      0        -1        -1
2  2010-07-03  20       0      0        -1        -1
3  2010-07-04  20       0      0        -1        -1
4  2010-07-05  14       0      0        -1        -1

# XXX